* {
  box-sizing: border-box;
}

.blue-dark {
  color: blue;
}

.blue-light {
  color: deepskyblue;
}


.blue {
  color: blue;
}

.green {
  color: green;
}

.green-light {
  color: rgb(120, 186, 20);
}

.yellow-dark {
  color: rgb(175, 175, 3);
}

.red {
  color: rgb(224, 2, 2);
}
.red-dark{
  color: rgb(96, 2, 2);
}
.orange {
  color: orangered;
}

.orange-light {
  color: rgb(255, 149, 0);
}

.yellow-light {
  color: rgb(232, 232, 11)
}


/* 
color para los simbolos como C,%, F, ppm , entre otros   color: #AD7D52;  */
.nameky,
.namevl {
  font-size: 10px;
}

.cards {
  height: auto;
  width: 100% !important;
  position: relative !important;
}

.card__img {
  visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.card__info {
  flex-grow: 1;
}

.cardsmall {
  flex: 1;
  /* Hace que la tarjeta ocupe todo el espacio disponible */
  display: flex;
  /* Para que el contenido interno pueda expandirse */
  flex-direction: column;
  justify-items: center;
  /* margin-right: 1rem; */
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #ffffffb3;
  /* background-color: rgba(255, 0, 0, 0.224); */
  width: 70% !important;
  margin: 0 auto;
  /* height: 100px; */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -5px 13px 10px -5px rgba(0, 0, 0, 0.1);
}

.cardsmall:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.10, 1.10);
}

.card__info {
  background-color: transparent;
  padding: 0.5rem;
}

.card__category {
  /* font-family: 'Raleway', sans-serif; */
  text-transform: uppercase;
  font-size: 10px;
  margin: 0;
  padding-left: 0.5rem;
  font-weight: bold;
  color: #868686;
}

.card__title {
  font-size: 10px;

  /* font-family: 'Roboto Slab', serif; */
}

.card__by {
  font-size: 8px;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 500;
}

._spatgd {
  font-size: 12px;
  padding-left: 3px;
  font-weight: 400;
  text-decoration: none;
}

.card__author {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #1c2434;
}

.cardsmall:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.cardsmall:hover .card__info {
  /* trasparente */
  background-color: transparent;
  position: relative;
}

article.cardsmall:hover {
  opacity: 1;
}