div.c12002 div.c12202 .c12211{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
    padding: 0;
    color: goldenrod;
    display: flex;
  }
  i svg{
    padding:0;
  }
  div.c12002 div.c12202 span.message{
    margin-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
  
  
  .c12002{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  div.c12002 div.c12101,div.c12002 div.c12202{
    align-items: center;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  div.c12002 div.c12101 h2.key-title{
  font-size:14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 0.5rem;
  outline: none;
  margin-left: 0.5rem;
  }
  
  div.c12002 div.c12101 span.key-value{
    text-align: center;
    color: darkorange;
    font-size: 1rem;
    align-items: center;
  }
  div.c12002 div.c12101 span.key-value i.uni-medida{
  color: rgb(14, 16, 17);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  
  }
  
  
  
  .c10001{
    width: 100%;
    margin: 0;
    padding: 0;
  display: grid;
  }
  
  .c10001 .c11001{
    width: 100%;
  background-color: transparent;
    padding: 5px 0 0 1rem;
    margin: 0;
  }
  
  div.c10001 div.c11001 p.js-title{
    color:black ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:14px;
  text-align: left;
  }

  
.nameky,
.namevl {
  font-size: 10px;
}

.cards {
  height: auto;
  width: 100% !important;
  position: relative !important;
}
@media (min-width:350px) and (max-width:768px){
  .cards {
    height: auto;
    width: 100% !important;
    position: relative !important;
  }
}
.card__img {
  visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 50%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.card__info {
  flex-grow: 1;
}

.cardsmall {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #ffffffb3;
  width: 95% !important;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -5px 13px 10px -5px rgba(0, 0, 0, 0.1);
}

.card__info {
  background-color: transparent;
  padding: 0.5rem;
}

.card__category {
  /* font-family: 'Raleway', sans-serif; */
  text-transform: uppercase;
  font-size: 10px;
  margin: 0;
  padding-left: 0.5rem;
  font-weight: bold;
  color: #868686;
}

.card__title {
  font-size: 10px;

  /* font-family: 'Roboto Slab', serif; */
}

.card__by {
  font-size: 8px;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 500;
}

.__spatgd{
  color:#4f4f4f;
  font-size: 13px;
  text-align: right;
}

._spatgd,._spatgd_ {
  font-size: 12px;
  padding-left: 3px;
  font-weight: 400;
  text-decoration: none;
}

._spatgd_{
  color:#737373;
  text-align: left;
}

.card__author {
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  color: #1c2434;
}
