/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

input[type="text"]{
  text-align: left !important;
  border: none !important;/* Quita el borde por defecto */
  outline: none !important; /* Quita el contorno al enfocar el input */
  && .iptcty:focus{
border-color: none;
  }
} 

/* input[type="text"]:focus {
  outline: none !important;
  border-color: red ;
  border: none !important;
} */

.iptcty{

}