/* * {
  box-sizing: border-box;
}

.blue-dark {
  color: blue;
}

.blue-light {
  color: deepskyblue;
}

.green {
  color: green;
}

.green-light {
  color: rgb(120, 186, 20);
}

.yellow-dark {
  color: rgb(175, 175, 3);
}

.red {
  color: rgb(224, 2, 2);
}
.red-dark{
  color: rgb(96, 2, 2);
}
.orange {
  color: orangered;
}

.orange-light {
  color: rgb(255, 149, 0);
}

.yellow-light {
  color: rgb(232, 232, 11)
} */
